@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
nav {
    margin-right: 0%;
}
nav ul{
    text-align: right;
} 
nav ul li{
    display: inline-block;
    margin-top: 70px; 
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 30px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 100px;
}
#nav h4{
    float: left;
    border: 2px solid black;
    font-size: 30px;
    color: rgb(139, 38, 13);
}
img{
    width: 300px;
    height: 400px;
    justify-content: space-around;
    margin-right: 40px;
    margin-top: 80px;
} 
#juliet{
    text-align: left;
    padding: 40px;
    margin-top: 20px;
} 
.juliet{
    text-align: left;
    color:black;
    margin-top: 200px;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    margin-left: 40px;
}
.kemunto{
    display: flex;
    justify-content: space-evenly;
}
.container{
    background-color: white;
    height: 150vh;
}
h1{
    font-size: 50px;
    margin-top: 5px;
    color: rgba(8, 8, 43, 0.897);
}
h3{
    margin-right: 100px;
    font-family: 'Raleway', sans-serif;
}

nav ul li a:hover{
    color: rgb(52, 96, 216);
    border-bottom-left-radius: 20px;
}
hr{
    width: 150%; 
}
#footer{
    font-size: 15px;
    color: black;
    margin-top: 200px;
    margin-left: 40px;
    font-family: 'Raleway', sans-serif;

}
#footer h4{
    color: blue;
}
#footer h4:hover{
    color:  rgb(255, 0, 13);
    background-color: coral;
}
.icons{
    padding: 10px;
    margin-top: 0px;
}
#copy{
    margin-left: 500px;
}
#facebook{
    height: 50px;
    width: 50px;
}
#twitter{
    height: 50px;
    width: 50px;
}
#insta{
    height: 50px;
    width: 50px;
}
.footer{
    display: flex;
    flex-direction: column;
}
#icons{
    margin-left: 50px;
    color: black;
}
#fb{
    color: blue;
}
#insta{
    color: rgb(228, 6, 143);
}
#youtube{
    color: red;
}
#linkedin{
    color: black;
}
#twitter{
    color: rgb(29, 138, 211);
}